/* Estilos para el encabezado */
header {
    text-align: center;
    background-color: #464646;
    color: white;
    padding: 10px;
}

body {
    background-color: #121212;
    color: #ffffff;
    /* Otros estilos para elementos en modo oscuro */
}

/* Estilos para el formulario de búsqueda */
#search-form {
    margin: 20px auto;
    text-align: center;
}

#search-input {
    padding: 5px;
    width: 70%;
}

#search-form button {
    padding: 5px 15px;
    background-color: #464646;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para la lista de archivos */
#file-list {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

#file-list li {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-button {
    padding: 5px 10px;
    background-color: #464646;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para el enlace de descarga copiado */
.alert-message {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    display: none;
}

#file-list a {
    color: #333; /* Cambia el color del texto del enlace */
    text-decoration: none; /* Quita la subrayado predeterminado */
    display: inline-block; /* Asegura que los enlaces ocupen espacio en línea */
    padding: 5px; /* Agrega espaciado alrededor de los enlaces */
}
