/* Estilos para el encabezado */
header {
    text-align: center;
    background-color: #35393e;
    color: white;
    padding: 10px;
}

body {
    background-color: #35393e;
    color: #ffffff;
    font-family: Arial, sans-serif; /* Puedes cambiar "Arial" por la fuente que prefieras */
    /* Otros estilos para elementos en modo oscuro */
}

h1, h2 {
    font-family: 'Trebuchet MS', sans-serif; /* Puedes cambiar "Times New Roman" por la fuente que prefieras */
}

/* Estilos para el formulario de búsqueda */
#search-form {
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
}

#search-input {
    padding: 7.5px;
    border-radius: 10px;
    background-color: #424549;
    color: rgb(255, 255, 255);
    border: 0px solid #ddd;
}

#search-form button {
    padding: 7.5px 15px;
    background-color: #4f5155;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Agrega estilos a los resultados de búsqueda */
#file-list li {
    margin: 10px;
    padding: 15px;
    width: 94%;
    border-radius: 20px;
    background-color: #424549; /* Cambia este color al que desees */
    border: 0px solid #43494e;
    display: flex;
    justify-content: space-between;
    align-items: auto;
    text-align: auto;
    list-style-position: inside;
}

.copy-button {
    padding: 5px 10px;
    background-color: #4f5155;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Estilos para el enlace de descarga copiado */
.alert-message {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    display: none;
}
