/* Estilos para el encabezado */
header {
    text-align: center;
    background-color: #35393e;
    color: white;
    padding: 10px;
}

body {
    background-color: #35393e;
    color: #ffffff;
    font-family: Arial, sans-serif; /* Puedes cambiar "Arial" por la fuente que prefieras */
    /* Otros estilos para elementos en modo oscuro */
}

h1, h2 {
    font-family: 'Trebuchet MS', sans-serif; /* Puedes cambiar "Times New Roman" por la fuente que prefieras */
}

/* Estilos para el formulario de búsqueda */
#search-form {
    margin: 20px auto;
    text-align: center;
}

#search-input {
    padding: 5px;
    width: 70%;
}

#search-form button {
    padding: 5px 15px;
    background-color: #424549;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

/* Agrega estilos a los resultados de búsqueda */
#file-list li {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #424549; /* Cambia este color al que desees */
}

#file-list li {
    padding: 10px;
    border: 0px solid #ddd;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-button {
    padding: 5px 10px;
    background-color: #4f4f4f;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para el enlace de descarga copiado */
.alert-message {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    display: none;
}

#file-list a {
    color: #333; /* Cambia el color del texto del enlace */
    text-decoration: none; /* Quita la subrayado predeterminado */
    display: inline-block; /* Asegura que los enlaces ocupen espacio en línea */
    padding: 5px; /* Agrega espaciado alrededor de los enlaces */
}
